
       <!-- Sidebar -->
       <div id="sidebar-wrapper" ng-hide="sideBar">
           <ul class="sidebar-nav">
               <li class="sidebar-brand">
                   <a href="#">
                       {{user.first_name}}
                   </a>
               </li>
               <li>
                   <a>Options</a>
               </li>
               <li>
                   <a>FAQ</a>
               </li>
               <li>
                   <a href= "/#/" ng-click="logout()">Logout</a>
               </li>
           </ul>
       </div>
       <!-- /#sidebar-wrapper -->

       <!-- Page Content -->
       <div id="page-content-wrapper">
           <div class="container-fluid">
               <div class="row">
                   <div class="col-lg-12">
                     <div ng-repeat="pic in pics" class = "party">
                       <img src = "{{pic.image_url}}" class= "partyPics">
                     </div>
                     <div id="wrapper">
                       <a class="btn btn-default menu" ng-click = "toggleMenu()">Toggle Menu</a>
                   </div>
               </div>
           </div>
       </div>
       <!-- /#page-content-wrapper -->

   </div>




</body>

</html>
