<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Ptry.live Mobile</title>
  <link rel="stylesheet" href="../stylesheets/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

</head>
<body>

  <form method = "POST" action="/new/img" enctype="multipart/form-data">
    <div class = "imageUpload">
      <label for = "file-input">
        <img src = "../images/camera.png">
      </label>
      <input type = "file" name="file" id="file-input" accept="image/*" onchange="this.form.submit()"></input>
      <input type ="hidden" name = "party_id" value = "{{id}}"></input>
    </div>
  </form>





</body>
</html>
