<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Ptry.live Mobile</title>
  <link rel="stylesheet" href="../stylesheets/style.css">

</head>
<body>

  <form method = "POST" action="/new/img" enctype="multipart/form-data">
    <div class = "imageUpload">
      <label for = "file-input">
        <img src = "../images/camera.png">
      </label>
      <input type = "file" name="file" id="file-input" accept="image/*" onchange="this.form.submit()"></input>
      <input type ="hidden" name = "party_id" value = "{{id}}"></input>
    </div>
  </form>





</body>
</html>
